<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  <mapper namespace="kr.co.dong.boardMapper">
 	<!-- 로그인 처리를 위한 SQL -->
  	<select id="login" parameterType="java.util.Map" resultType="java.util.Map">
  		select id, name
  		from springuser
  		where id=#{id} and password=#{password}  		
  	</select>	
  	
  	<!-- 전체목록  -->
	<select id="list" resultType="BoardDTO">
		select *
		from board
		order by bno desc
	</select>
	<!-- 선택조회(글읽기) -->
	<select id="detail" parameterType="java.lang.Integer" resultType="BoardDTO">
		select *
		from board
		where bno = #{bno}
	</select>
	<!-- 조회수 1 증가하는 SQL "updataReadCnt"-->
	
	<!-- 글 추가하는 SQL "insert" or "register"-->
	<insert id="register" parameterType="kr.co.dong.domain.LoginVO">
		insert into springuser (id, password) values (${id} , ${password})
	</insert>
	
	<!-- 글 삭제하는 SQL "delete"  del 컬럼을 작성하여 1로 변경-->
	
	<!-- 글 수정하는 SQL "update"-->
	
	<!--  -->
	
  </mapper>
  
  
  
  
  
  
  
  
  